<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Burger King - Food Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free Website Template" name="keywords" />
    <meta content="Free Website Template" name="description" />

    <!-- Favicon -->
    <link href="../img/favicon.ico" rel="icon" />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700"
      rel="stylesheet"
    />

    <!-- CSS Libraries -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="../lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-light navbar-light">
      <div class="container-fluid">
        <a href="index.html" class="navbar-brand">Food<span> Donation</span></a>
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarCollapse"
        >
          <div class="navbar-nav ml-auto">
            <a href="index.html" class="nav-item nav-link active">Home</a>
            <!-- <a href="/adminclothdash" class="nav-item nav-link">About</a> -->
            <a href="/dash" class="nav-item nav-link">Donate</a>
            <a href="/agentdash" class="nav-item nav-link">Agent</a>
            <!-- <a href="/admindash" class="nav-item nav-link">Admin</a> -->
            <a href="/clothdash" class="nav-item nav-link">Clothes</a>
            <a href="/transportdash" class="nav-item nav-link">Transport</a>
            <% if(currentUser) { %>
              <a href="/logout" class="nav-item nav-link"><%= currentUser.firstName[0] %></a>
            <% } else { %>
              <a href="/login" class="nav-item nav-link">Login</a>
            <% } %>

          </div>
        </div>
      </div>
    </div>
    <!-- Nav Bar End -->

    <!-- Carousel Start -->
    <div class="carousel">
      <div class="container-fluid">
        <div class="owl-carousel">
          <div class="carousel-item">
            <div class="carousel-img">
              <img src="../img/donate-1.jpg" alt="Image" />
            </div>
            <div class="carousel-text">
              <h1>Food <span>Donation</span></h1>
              <p>If you can't feed a hundred people, then just feed one.</p>
              <!-- <div class="carousel-btn">
                                <a class="btn custom-btn" href="">View Menu</a>
                                <a class="btn custom-btn" href="">Book Table</a>
                            </div> -->
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-img">
              <img src="../img/donate-2.jpg" alt="Image" />
            </div>
            <div class="carousel-text">
              <h1>Donate <span>Food</span> for <span>Hungry</span></h1>
              <p>
                You have Two hands<br />
                One to help yourself and another one to help others
              </p>
              <!-- <div class="carousel-btn">
                                <a class="btn custom-btn" href="">View Menu</a>
                                <a class="btn custom-btn" hrefusdhvuihfjjjfhnfj udjfh ="">Book Table</a>
                            </div> -->
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-img">
              <img src="../img/donate-3.jpg" alt="Image" />
            </div>
            <div class="carousel-text">
              <h1>Show some <span>love</span>, donate.</h1>
              <p>No one has ever become poor by giving.</p>
              <!-- <div class="carousel-btn">
                                <a class="btn custom-btn" href="">View Menu</a>
                                <a class="btn custom-btn" href="">Book Table</a>
                            </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Carousel End -->

    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
    <!-- Contact Javascript File -->

    <!-- Template Javascript -->
    <script src="../js/main.js"></script>
  </body>
</html>
